body{
  font-family: sans-serif;
}

.navbar{
  text-align: center;
  background: grey;
  height: 4em;
  padding:
}
.navbar a{
  font-size: 2em;
  margin:0 2em;
  text-decoration: none;
  padding: 2em;
}
